OPENAI_API_KEY=""
LANGSMITH_API_KEY=""
LANGSMITH_TRACING="true"
LANGSMITH_PROJECT="langsmith-academy"
# if on EU instance, otherwise leave commented out
#LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
